<!DOCTYPE html>
<html lang="en">
<head>
    <title>planchecker</title>
    <link rel="icon" type="image/png" href="/assets/document-node.png">
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
</head>
<body>

<ol class="breadcrumb">
    <li><img src="/assets/document-node.png" />&nbsp;<strong>planchecker for Greenplum</strong></li>
    <li><a href="/">Home</a></li>
</ol>

<!-- CONTAINER START -->
<div class="container">
    <!-- ROW START -->
    <div class="row">
        <!-- COL START -->
        <div class="col-sm-6 text-justify">

            <!-- FORM START -->
            <h3>New EXPLAIN</h3>

            <p><code>Copy/paste</code> or <code>Choose File</code> and click <code>Submit</code>.</p>

            <form method="POST" action="/plan/" enctype="multipart/form-data">
                <textarea class="form-control" name="plantext" id="plantext" rows="12" style="margin-bottom:10px" data-toggle="tooltip" data-placement="left" title="Copy/Paste the EXPLAIN
output here">%s</textarea>
            <label class="btn btn-primary btn-file" data-toggle="tooltip" data-placement="left" title="Upload file from filesystem">
            Choose File <input type="file" name="uploadfile" style="display: none;" onchange="$('#upload-file-info').html($(this).prop('files')[0]['name'] );">
            </label>
            <span class='label label-info' id="upload-file-info"></span>
            <div class="form-group  pull-right">
            <button type="submit" class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Submit and run the checks">Submit</button>
            </div>
            </form>
            <!-- FORM END -->

            <!-- STEPS START -->
            <h3>Recommended Steps</h3>

            <p>When a query plan is generated whitespace is used to indent each node. It's important to keep the correct whitespace indentation when submitting the plan to planchecker or else the plan may be parsed incorrectly.</p>

            <p>The following steps are recommended for best results:
            <ol>
                <li>Create an .sql file containing the query:
                <pre>$ cat myquery.sql
EXPLAIN SELECT * FROM mytable
WHERE date = '1955-11-05' AND location = 'Hill Valley';</pre>
                </li>
                <li>Execute the query using psql and redirect the output:
                <pre>$ psql -f myquery.sql > myquery.sql.out</pre>
                </li>
                <li>Upload the output to planchecker:<br>
                <code>Choose File</code>, select <code>myquery.sql.out</code>, click <code>Submit</code>
                </li>
            </ol>
            Alternatively you can <code>Copy/paste</code> the query plan but make sure whitespace formatting is not lost.
            </p>
            <!-- STEPS END -->
        </div>
        <!-- COL END -->

        <!-- COL START -->
        <div class="col-sm-6 text-justify">

            <!-- ABOUT START -->
            <h3>About</h3>

            <p>planchecker parses <code>EXPLAIN</code> or <code>EXPLAIN ANALYZE</code> output generated from <a href="http://greenplum.org/" target="_blank">Greenplum</a> database and checks for common issues which may affect query performance. While the query plans look similar to Postgres they are formatted differently and contain nodes which are specific to Greenplum.</p>

            <p>Because <a href="http://greenplum.org/" target="_blank">Greenplum</a> and <a href="http://hawq.incubator.apache.org/" target="_blank">Apache HAWQ</a> share similar codebase, planchecker should also work with <a href="http://hawq.incubator.apache.org/" target="_blank">Apache HAWQ</a> query plans.</p>
            <!-- ABOUT END -->

            <!-- CHECKS START -->
            <h3>Checks</h3>

            <p>Here are the current checks:</p>
            %s
            <p>New checks may be added in future.</p>
            <!-- CHECKS END -->

        </div>
        <!-- COL END -->
    </div>
    <!-- ROW END -->

    <hr class="small">

    <footer>
        <p class="text-muted text-center">planchecker for Greenplum</p>
    </footer>

</div>
<!-- CONTAINER END -->

<script src="/assets/jquery-2.2.4.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>

<script>
    // Initialize tooltips
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

</body>
</html>
