<!DOCTYPE html>
<html lang="en">
<head>
    <title>PlanChecker</title>
    <link rel="icon" type="image/png" href="/assets/document-node.png">

    <script src="/assets/jquery-2.2.4.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/planchecker.js"></script>

    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/planchecker.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>

<!-- NAVBAR START -->
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="/assets/document-node.png" style="display:inline; width:20px;" /> PlanChecker</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active hidden" id="planRef"><a id="planRefLink" href="/plan/%[3]s">%[3]s</a></li>
                <p id="bookmarkMsg" class="navbar-text hidden"><i class="fa fa-arrow-left" aria-hidden="true"></i> Bookmark this link to access the results</p>
                <li class="active hidden" id="planSave"><button class="btn btn-primary navbar-btn" onclick="savePlan()">Save Plan<span id="saveSpinner" class="hidden">&nbsp<i class="fa fa-spinner fa-spin" style="font-size:12px">&nbsp;</i></span></button></li>
            </ul>
        </div>
    </div>
</nav>
<!-- NAVBAR END -->

<!-- CONTAINER START -->
<div class="container-fluid">
    <!-- ROW START -->
    <div class="row">
        <!-- COL START -->
        <div class="col-xs-12">

            <div class="plan">%[1]s</div>

            <div class="alert alert-info" style="margin-top:10px;" role="alert">Any warnings displayed are based on common causes of perfermance issues. But no guarantee can be give that correcting these issues will definitely increase query performance.</div>

        </div>
        <!-- COL END -->
    </div>
    <!-- ROW END -->

    <hr>

    <footer>
        <p class="text-muted text-left">
            <a href="/">PlanChecker</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="https://github.com/stephendotcarter/planchecker">GitHub Project</a>&nbsp;&nbsp;-&nbsp;&nbsp;<a href="https://github.com/stephendotcarter/planchecker/issues">Issues</a>
        </p>
    </footer>

</div>
<!-- CONTAINER END -->

<script>
    planRef = "%[3]s";
    planTextBase64 = "%[2]s";
</script>

</body>
</html>
