<!DOCTYPE html>
<html lang="en">
<head>
    <title>planchecker</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
</head>
<body>

<ol class="breadcrumb">
    <li><strong>planchecker for Greenplum</strong></li>
    <li><a href="/">Home</a></li>
    <li>Plan</li>
    <li class="active"><a href="/plan/%[2]s">%[2]s</a></li>
</ol>

<!-- CONTAINER START -->
<div class="container-fluid">
    <!-- ROW START -->
    <div class="row">
        <!-- COL START -->
        <div class="col-xs-12">
            %[3]s
            <div class="plan">%[1]s</div>
        </div>
        <!-- COL END -->
    </div>
    <!-- ROW END -->

    <hr class="small">

    <footer>
        <p class="text-muted text-center">planchecker for Greenplum</p>
    </footer>

</div>
<!-- CONTAINER END -->

<script src="/assets/jquery-2.2.4.min.js"></script>

</body>
</html>
